<ul>
  <% @boards.each do |board| %>
    <% if board_finished(board) %>
    <h1><%= board.owner %> Board is finished!</h1>
    <% end %>

  <% @ships.each do |ship| %>
    <% if ship_sunk?(ship) %>
     <li><%= ship.name %> has been sunk!</li>
     <br>
    <% end %>
  <% end %>
</ul>

